SHOPWARE_URL=http://localhost
SHOPWARE_ADMIN_USER=admin
SHOPWARE_ADMIN_PASSWORD=
SHOPWARE_STORE_ACCESS_KEY=
SHOPWARE_INTEGRATION_ACCESS_KEY=
SHOPWARE_INTEGRATION_SECRET=
SHOPWARE_SALES_CHANNEL_ID=
SHOPWARE_TEST_PRODUCT_ID=
